body {
  margin: 0;
  padding: 0;
  @extend %centered;
  @include text($weight:300);
}
h1, h2{
  font-family: $stack-miriam;
}
p {
  max-width: 386px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
  @media ($brk-narrow){
    max-width: 725px;
  }
}
